html {
    background: #36454f;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    font-family: "Verdana", sans-serif;
    line-height: 1.5;
    margin: 0 auto 1em auto;
    max-width: 55em;
    padding: 1em 4em;
    box-shadow: 5px 5px 5px black;
    font-size: 16px;
    background: white;
}

/* Table styling */
table.docinfo {
    margin: 2em auto 2em auto;
}

table.docutils th.field-name, table.docinfo th.docinfo-name {
    text-align: right;
}

/* Styling for the table of contents */
div#contents ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 200px;
    background-color: #f1f1f1;
}

div#contents > ul ul li a {
    font-size: 90%;
    padding-left: 2.5em;
}

div#contents > ul ul li a:hover {
    padding-left: 3.0em;
}

div#contents li a {
    display: block;
    color: #000;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.2s;
}

div#contents li a:hover {
    background-color: #006699;
    color: white;
    text-decoration: none;
    transition: 0.2s;
    padding-left: 1.5em;
}

div#contents {
    float: right;
    margin: 1em 0 2em 2em;
}

/* Styling for side alerts */
div.sidebar {
    border: 1px solid black;
    margin: 1em 0 1em 1em;
}

/* Styling for header links */
h1 a, h2 a {
    transition: 0.2s;
    text-decoration: none;
    font-weight: normal;
}

h2 a {
    color: #363636;
    font-size: 24px;
}

h1 a {
    color: black;
    font-size: 34px;
}

h1 a:hover, h2 a:hover {
    padding-left: 0.5em ;
    text-decoration: none;
}

a {
    color: #0664d7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
}

.title {
    color: #006699;
    font-size: 36px;
}
